{% extends 'base.html.twig' %}

{% block title %}Galleryindex{% endblock %}

{% block body %}
    <h1>Gallery index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.name }}</td>
                <td>
                    <a href="{{ path('app_gallery_show', {'id': gallery.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}" class="btn btn-warning">Mettre à jour</a>
                    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gallery_new') }}" class="btn btn-success">Créer une nouvelle Gallerie</a>
{% endblock %}
